<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>financify</title>
    <link rel="stylesheet" href="/styles/account-statment.css">

</head>
<body>
    
    <div class="bar">
        <a href="/finances/ledger">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path></svg>دفتر الحسابات
        </a>
    </div>
    <h2>كشف حساب</h2>

    <div class="view">

        <% if (locals.account) {%>
            <h3> لعملة <%= account.currencyName %> <%= account.clientName %> كشف حساب</h3>
        <% } %>

        <div class="overview-data">
            <% if (locals.total) { %>
                <div>
                    <p>رصيد العملة</p>
                    <span><%= total.totalCredit %> $</span>
                </div>
                <div>
                    <p>دالن علينا</p>
                    <span><%= total.totalDeptedForUs %> $</span>
                </div>
                <div>
                    <p>مدين لنا</p>
                    <span><%= total.totalCreditForUs %> $</span>
                </div>
            <% } else { %>
                <div>
                    <p>رصيد العملة</p>
                    <span>0$</span>
                </div>
                <div>
                    <p>دالن علينا</p>
                    <span>0$</span>
                </div>
                <div>
                    <p>مدين لنا</p>
                    <span>0$</span>
                </div>
            <% } %>
        </div>

        <form action="" method="post">
            <div class="row">
                <div>
                    <input type="date" name="date">
                    <label for="date">اختر التاريخ</label>
                </div>
                <div>
                    <input type="text" name="type">
                    <label for="type">البحث عن الحركة</label>
                </div>
            </div>
            
            <button type="submit" class="submit-btn">Search</button>
        </form>
    </div>

    <div class="count">
        <% if (locals.transactions) {%>
            <% let count = transactions.length %>
            <p><%= count %> عدد النتائج الإجمالي</p>
        <% } %>
    </div>

    <table>
        <thead>
            <tr>
                <th>المستخدم</th>
                <th>التاريخ</th>
                <th>البيان</th>
                <th>الرصيد</th>
                <th>دالن علينا</th>
                <th>مدين لنا</th>
                <th>رقم الحركة</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <% if (locals.transactions) {%>
                <% transactions.forEach( transaction => { %>
                    <tr class="data" id=<%= transaction._id %>>
                        <td><%= transaction.userName %></td>
                        <td><%= transaction.date %></td>
                        <td><%= transaction.description %></td>
                        <td><%= transaction.ResultInDollars %></td>
                        <td><%= transaction.deptedForUs %></td>
                        <td><%= transaction.creditForUs %></td>
                        <td><%= transaction.transactionNumber %></td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>



</body>
</html>