<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>financify</title>
    <link rel="stylesheet" href="/styles/account-statment.css">

</head>
<body>
    
    <div class="bar">
        <a href="/finances/ledger">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path></svg>دفتر الحسابات
        </a>
    </div>
    <h2>كشف حساب</h2>

    <div class="view">


       

        <% if (locals.account) {%>
            <h3> لعملة <%= account.currencyName %> <%= account.clientName %> كشف حساب</h3>
        <% } %>

        <div class="overview-data">
            <% if (locals.total) { %>
                <div>
                    <p>رصيد العملة</p>
                    <span><%= total.totalCredit %> $</span>
                </div>
                <div>
                    <p>دالن علينا</p>
                    <span><%= total.totalDeptedForUs %> $</span>
                </div>
                <div>
                    <p>مدين لنا</p>
                    <span><%= total.totalCreditForUs %> $</span>
                </div>
            <% } else { %>
                <div>
                    <p>رصيد العملة</p>
                    <span>0$</span>
                </div>
                <div>
                    <p>دالن علينا</p>
                    <span>0$</span>
                </div>
                <div>
                    <p>مدين لنا</p>
                    <span>0$</span>
                </div>
            <% } %>
        </div>

        <form action="/finances/ledger/currencies/client/date" method="post">
            <div class="row">
                <div>
                    <input type="date" name="endDate">
                    <label for="date">حتى يوم</label>
                </div>
                <div>
                    <input type="date" name="startDate" >
                    <label for="date">من تاريخ</label>
                </div>
                <div>
                    <select name="type">
                        <option value="متعددة">متعددة</option>
                        <option value="حركة نسوبة">حركة نسوبة</option>
                        <option value="حركة حوالة">حركة حوالة</option>
                    </select>
                    <label for="type">البحث عن الحركة</label>
                </div>
            </div>
            
            <button type="submit" class="submit-btn">Search</button>
        </form>

        <% if (locals.info) {%>
            <div id="data" class="info" data-info='<%= JSON.stringify(info) %>'></div>
        <% } %>


    </div>

    <div class="count">
        <% if (locals.transactions) {%>
            <% let count = transactions.length %>
            <p><%= count %> عدد النتائج الإجمالي</p>
        <% } %>
    </div>

    <table>
        <thead>
            <tr>
                <th>المستخدم</th>
                <th>التاريخ</th>
                <th>البيان</th>
                <th>الرصيد</th>
                <th>دالن علينا</th>
                <th>مدين لنا</th>
                <th>رقم الحركة</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <% if (locals.transactions) {%>
                <% let counter = 1 %>
                <% transactions.forEach( transaction => { %>
                    <% if(transaction.isCanceled) {%>
                        <tr class="data <%= transaction.type %> canceled" id=<%= transaction._id %>>
                            
                            <td><%= transaction.userName %></td>
                            <td><%= transaction.date %></td>
                            <td><%= transaction.description %></td>
                            <td><%= transaction.ResultInDollars %></td>
                            <td><%= transaction.deptedForUs %></td>
                            <td><%= transaction.creditForUs %></td>
                            <td><%= transaction.transactionNumber %></td>
                            <td><%= counter++ %></td>
                            <% if (transaction.checked) { %>
                                <td><input type="checkbox" value="checked" id=<%= transaction._id %> checked></td>
                            <% } else {%>
                                <td><input type="checkbox" value="unchecked" id=<%= transaction._id %>></td>
                            <% } %>
                        </tr>
                    <% } else {%>
                        <tr class="data <%= transaction.type %>" id=<%= transaction._id %>>
                            
                            <td><%= transaction.userName %></td>
                            <td><%= transaction.date %></td>
                            <td><%= transaction.description %></td>
                            <td><%= transaction.ResultInDollars %></td>
                            <td><%= transaction.deptedForUs %></td>
                            <td><%= transaction.creditForUs %></td>
                            <td><%= transaction.transactionNumber %></td>
                            <td><%= counter++ %></td>
                            <% if (transaction.checked) { %>
                                <td><input type="checkbox" value="checked" id=<%= transaction._id %> checked></td>
                            <% } else {%>
                                <td><input type="checkbox" value="unchecked" id=<%= transaction._id %>></td>
                            <% } %>
                        </tr>
                    <% } %>
                <% }) %>
            <% } %>
        </tbody>
    </table>


    
    <div class="pop-up-cancel hidden">
        <button class="close">X</button>
        <h3></h3>
        <button class="delete">حذف الحركة</button>
    </div>


    <div class="pop-up hidden">
        <button class="close">X</button>
        <h3></h3>
        <button class="modify">تعديل الحركة</button>
        <button class="cancel">إلغاء الحركة</button>
        <button class="delete">حذف الحركة</button>
    </div>


    
    <div id="data" data-info='<%= JSON.stringify(info) %>'></div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/js/account-statment-script.js"></script>


</body>
</html>