<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financify</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/general-budget.css">
</head>
    <body>
        <main class="container">
            <section id="content">
                <div class="bar">
                    <a href="/finances">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path></svg>الإدارة المالية
                    </a>
                </div>
                <h2>الميزانية العامة</h2>

                <div class="general-budget-container">

                    <form action="" method="post" class="search-form">
                        <input type="search" name="search-account"  placeholder="ابحث عن حساب" class="search-input">
                        <input type="submit" value="S" class="search-btn">
                    </form>


                    <table class="general-budget-table">
                        <thead>
                            <tr>
                                <th>اسم العملة</th>
                                <th>رصيد دائن علينا</th>
                                <th>رصيد مدين لنا</th>
                                <th>إجمالي دائن علينا</th>
                                <th>إجمالي مدين لنا</th>
                                <th>اسم الحساب</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (locals.clients) { %>
                                <% let counter = 1; %> <!-- Initialize counter -->
                                <% clients.forEach(client => { %>
                                    <% if (client.name == 'ارباح و الخسائر يومية' || client.name == 'ارباح و الخسائر') {%>
                                        <tr class="data" id="<%= client._id %>"></tr>
                                            <td>الدولار المقوم</td>
                                            <td><%= Math.abs(client.balanceCredit) %></td>
                                            <td><%= client.balanceDebt %></td>
                                            <td><%= client.totalDebt %></td>
                                            <td><%= client.totalCredit %></td>
                                            <td><%= client.name %></td>
                                            <td><%= counter++ %></td> <!-- Display and increment counter -->
                                        </tr>
                                        <% } else if (client.name != 'حسابات متعددة') {%>
                                            <tr class="data" id="<%= client._id %>">
                                                <td>الدولار المقوم</td>
                                                <td><%= Math.abs(client.balanceCredit) %></td>
                                                <td><%= client.balanceDebt %></td>
                                                <td><%= client.totalCredit %></td>
                                                <td><%= client.totalDebt %></td>
                                                <td><%= client.name %></td>
                                                <td><%= counter++ %></td> <!-- Display and increment counter -->
                                            </tr>
                                        <% } %>
                                <% }) %>
                            <% } %>
                        </tbody>
                    </table>

                </div>
            
                <div class="resume">
                    <div>
                        <p>الفرق</p>
                        <p><%= total.diff %></p>
                    </div>
                    <div>
                        <p>رصيد دائن علينا</p>
                        <p><%= total.balanceCredit %></p>
                    </div>
                    <div>
                        <p>رصيد مدين لنا</p>
                        <p><%= total.balanceDebt %></p>

                    </div>
                    <div>
                        <p>إجمالي دائن علينا</p>
                        <p><%= total.CreditOnUs %></p>

                    </div>
                    <div>
                        <p>إجمالي مدين لنا</p>
                        <p><%= total.DebtOnUs %></p>

                    </div>
                </div>

            </section>


            <section id="sidebar">
                <form action="" method="post" class="filter-priority">
                    <label for="number">أدخل الأولوية</label>
                    <input type="number" max="100" placeholder="1-100">

                    <button type="button" class="submit-btn">filter</button>
                </form>
            </section>


        </main>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="/js/general-budget-script.js"></script>

    </body>
</html>